.headerBottom ul li:nth-of-type(1),.headerBottom ul li:nth-of-type(5){
	background-image: none;	
}
.headerBottom ul li:nth-of-type(1) a,.headerBottom ul li:nth-of-type(5) a{
	color:#999999;
}
.headerBottom ul li:nth-of-type(4){
	background-image: linear-gradient(to bottom, #989898 0%, #545454 100%);	
}
.headerBottom ul li:nth-of-type(4)>a{
	color:#fff;
}
.design .designmast>ul li {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.design .designmast>ul:hover li{
  opacity: 0.5;
}
.design .designmast:hover li:hover {
  opacity: 1;
}
/*---------------------------------------------------------------------- design 开始----------------------------------------------------------------------*/
.design{
	width:960px;
	margin: 0 auto;
	padding-top:24px;
}
.design .designmast>ul{
	padding-left:110px ;
	padding-bottom: 12px;
	border-bottom:1px dashed #999999;
}
.design .designmast>ul li{
	cursor: pointer;
	text-align: center;
	width:146px;
	float:left;
	margin-right: 50px;
}
.design .designmast>ul li:nth-of-type(4){
	margin-right: 0px;
}
.design .designmast>ul li img{
	margin-bottom: 11px;
}
.design .designmast>ul li h2 div{
	font-size:24px;
	color:#484848;
}
.design .designmast>ul li h2 small{
	font-size:10px;
	line-height:26px;
	color:#999999;
}
.onelitop h3,.h3p{
	margin-top: 9px;
	font-size:36px;
	line-height: 63px;
	color:#484848;
}
.onelitop h3 p,.ph3{
	font-size:22px;
	line-height:34px;
	color:#666666;
}
.onelitopp{
		margin-top: 35px;
		padding-bottom: 66px;
		border-bottom: 1px dashed #999999;
}
.onelitopsmall{
	display:block;
	float:left;
	width:642px;
	font-size:14px;
	color:#5a5a5a;
	line-height: 25px;
	margin-right: 18px;
}
.onelitopp a{
	float:right;
	margin-top: 18px;
	display: block;
}
.onelitopp a img{
	margin-left: 4px;
}
.inner a,.inners a{
	margin-left: 47px;
}
/*---------------------------------------------------------------------- design 结束----------------------------------------------------------------------*/

/*---------------------------------------------------------------------- designthree 开始---------------------------------------------------------------------*/
.twolicenter h2{
	width:960px;
	padding-top:20px;
	font-size:24px;
	color:#484848;
	margin: 0 auto;
	margin-bottom: 24px;
}
.twolicenter h2 img{
	float:right;
}
.twolicenter form{
	margin-bottom: 18px;
}
.twolicenter form label,.twolicenter form select{
	float:left;
}
.twolicenter form label{
	font-size:14px;
	line-height:32px;
	color:#5a5a5a;	
	margin-right: 5px;
}
.twolicenter form select{
	width:107px;
	border:1px solid #CCCCCC;
	height:32px;
	padding-left:10px;
	margin-right: 17px;
	 -webkit-appearance: none;
	 background: url(../../img/drop.gif) no-repeat right center;
	 cursor: pointer;
}
.seedlist li{
	float:left;
	margin-right: 7px;
	margin-bottom: 5px;
}
.seedlist li:nth-of-type(5),.seedlist li:nth-of-type(10){
	margin-right: 0px;
}
.fenye{
	padding-top: 49px;
}
.fenye ul{
	padding-left:277px;
	margin-bottom: 30px;
}
.fenye ul li{
	float:left;
	width:24px;
	height:28px;
	line-height: 28px;
	margin-right: 4px;
	text-align: center;
}
.fenye ul li:nth-of-type(1){
	background: #666666;
}
.fenye ul li:nth-of-type(1) a{
	color:#fff;
}
.fenye{
	border-bottom:1px dashed #ccc;
}
.fenye ul li:nth-of-type(12){
	width:44px;
	height:28px;
}
.fenye ul li:hover{
	background: #dedcdc;
}
.threelibottom .threeBottomLeft,.threelibottom .threeBottomCenter,.threelibottom .threeBottomRight{
	float:left;
	padding-top:29px;
}
.threelibottom .threeBottomLeft,.threelibottom .threeBottomCenter{
	margin-right: 72px;
}
.threelibottom h2{
	font-size:22px;
	color:#484848;
	margin-bottom: 14px;
}
.threelibottom h2 small{
	font-size:12px;
	color:#34ba88;
	float:right;
}
.threelibottom h2 small img{
	margin-left: 4px;
}
.threelibottom .threeBottomRight{
	width:272px;
}
.threelibottom .threeBottomLeft>a{
	margin-bottom: 9px;
}
.threelibottom .threeBottomLeft p,.threelibottom .threeBottomCenter .floats p a:nth-of-type(2),.threelibottom .threeBottomRight p{
	font-size:14px;
	line-height: 32px;
	color:#707070;
}
.threelibottom .threeBottomLeft p small img,.threelibottom .threeBottomCenter .floats p a:nth-of-type(2) img{
	float:right;
	margin-top: 9px;
}
.threelibottom .threeBottomCenter .floats p{
	float:left;
}
.threelibottom .threeBottomCenter .floats p:nth-of-type(1){
	margin-right: 30px;
}
.threelibottom .threeBottomCenter .floats p a{
	display:block;
}
.contanted{
	margin-bottom: 70px;
}
/*---------------------------------------------------------------------- designthree 结束----------------------------------------------------------------------*/
/*---------------------------------------------------------------------- designfour 开始----------------------------------------------------------------------*/
.dotfloatsmall{
	display: block;
	font-size:14px;
	color:#5a5a5a;
	line-height: 25px;
	margin-top: 40px;
}
.dotfloat a{
	float:right;
	color:#707070;
	margin-top: 70px;
}
.dotfloat a img{
	margin-left: 4px;
}
.onelitop{
	border-bottom: 1px dashed #999999;
	padding-bottom:35px;
}
.twoliop h2,.threeliop h2{
	padding-top:26px;
	font-size:24px;
	color:#484848;
}
.twoliop ul{
	padding-bottom: 35px;
	border-bottom: 1px dashed #999999;
}
.twoliop ul li:nth-of-type(5){
	margin-right: 0;
}
.lianmiation{
float:left;
margin-right: 7px;
margin-top: 8px;
 position: relative;
  overflow: hidden;
}
.lianmiation:hover .seedlist-desc {
  top: 0;
}
.lianmiation:hover .seedlist-desc .cell {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.seedlist-desc {
  position: absolute;
  width: 186px;
  height: 100%;
  top: -100%;
  left: 0;
  text-align: center;
  overflow: hidden;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}
.seedlist-desc p {
  line-height: 1.5;
  color:#fff;
}
.seedlist-desc,
.seedlist .seedlist-desc a {
  color: #FFF;
}
.seedlist-desc .name {
  font-size: 30px;
}
.seedlist-desc .cell {
  width: 168px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
.seedlist-desc .cell,
.seedlist-desc .after {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.seedlist-desc .after {
  width: 0;
  height: 100%;
}
/*---------------------------------------------------------------------- designfour 结束----------------------------------------------------------------------*/